@import url(font-awesome.min.css);
@font-face {
    font-family: Sahel;
    src: url('../fonts/sahel.eot');
    src: url('../fonts/sahel.eot?#iefix') format('embedded-opentype'), url('../fonts/sahel.woff2') format('woff2'), url('../fonts/sahel.woff') format('woff'), url('../fonts/sahel.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: Sahel;
    src: url('../fonts/Sahel-Bold.eot');
    src: url('../fonts/Sahel-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/Sahel-Bold.woff') format('woff2'), url('../fonts/Sahel-Bold.woff') format('woff'), url('../fonts/Sahel-Bold.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: Sahel;
    src: url('../fonts/sahel-black.eot');
    src: url('../fonts/sahel-black.eot?#iefix') format('embedded-opentype'), url('../fonts/sahel-black.woff') format('woff2'), url('../fonts/sahel-black.woff') format('woff'), url('../fonts/sahel-black.ttf') format('truetype');
    font-weight: 900;
}

@font-face {
    font-family: Vazir;
    src: url('../fonts/vazir.eot');
    src: url('../fonts/vazir.eot?#iefix') format('embedded-opentype'), url('../fonts/vazir.woff') format('woff2'), url('../fonts/vazir.woff') format('woff'), url('../fonts/vazir.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: Vazir;
    src: url('../fonts/Vazir-Bold.eot');
    src: url('../fonts/Vazir-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/Vazir-Bold.woff') format('woff2'), url('../fonts/Vazir-Bold.woff') format('woff'), url('../fonts/Vazir-Bold.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: Vazir;
    src: url('../fonts/Vazir-Light.eot');
    src: url('../fonts/Vazir-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/Vazir-Light.woff') format('woff2'), url('../fonts/Vazir-Light.woff') format('woff'), url('../fonts/Vazir-Light.ttf') format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: Vazir;
    src: url('../fonts/Vazir-Medium.eot');
    src: url('../fonts/Vazir-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/Vazir-Medium.woff') format('woff2'), url('../fonts/Vazir-Medium.woff') format('woff'), url('../fonts/Vazir-Medium') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: Vazir;
    src: url('../fonts/Vazir-Black.eot');
    src: url('../fonts/Vazir-Black.eot?#iefix') format('embedded-opentype'), url('../fonts/Vazir-Black.woff') format('woff2'), url('../fonts/Vazir-Black.woff') format('woff') url('../fonts/Vazir-Black.ttf') format('truetype');
    font-weight: 900;
}

html {
    font: 100%/1.42857143;
}

html::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #F5F5F5;
    border-radius: 10px;
}

html::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
}

html::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-image: -webkit-gradient(linear, left bottom, left top, from(#73bdf9), to(#2b418f));
    background-image: -webkit-linear-gradient(bottom, #73bdf9 0%, #2b418f 100%);
    background-image: linear-gradient(to top, #73bdf9 0%, #2b418f 100%);
}

body {
    font-family: Vazir, tahoma, arial;
    font-size: .9rem;
    direction: rtl;
    background: #f5f8fa;
    word-spacing: -1px;
}

a {
    color: #056b76;
}

a {
    -webkit-transition: all 0.6s ease-in-out 0s;
    -moz-transition: all 0.6s ease-in-out 0s;
    -ms-transition: all 0.6s ease-in-out 0s;
    -o-transition: all 0.6s ease-in-out 0s;
    transition: all 0.6s ease-in-out 0s;
}

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    transition: all .3s ease-in-out;
}

a:hover,
a:active,
a:focus,
input:hover,
input:active,
input:focus,
button:hover,
button:active,
button:focus {
    text-decoration: none !important;
    outline: none !important;
    transition: all 0.6s ease-in-out 0s;
}

a:hover,
a:focus {
    color: #2a95be;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0
}

.progress-container {
    position: fixed;
    width: 100%;
    height: 2px;
    z-index: 2147483647;
    direction: ltr;
}

.progress-bar {
    height: 2px;
    background: linear-gradient(141deg, #335097 0%, #78e3f5 51%, #2cb5e8 75%);
    width: 0%;
    top: 0;
    left: 0;
}

header {
    height: 170px;
}

.rowhead {
    justify-content: space-between;
    padding: 25px 0;
}

.logo {
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.logo.stickylogo {
    position: fixed;
    z-index: 1021;
}

.logo.stickylogo img {
    height: 42px;
}

.besmellah {
    opacity: 0.2;
}

.bbb {
    height: 300px;
    border: 1px solid #000;
}

.section1 .container {
    background: #f5f8fa;
}

.conttop {
    background: #f5f8fa;
}

nav.navbar {
    /*background: #6d7fcc;
    color: #fff;
    border-bottom: none;
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.2);*/
    padding: 0;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}


/*==============search input========================*/

.srch {
    display: inline-table;
    /* width: 200px; */
    border-radius: 4px;
    padding-left: 15px;
}

.srch .form-control,
.srch .input-group-addon {
    border: 0!important;
    background: #fff;
    box-shadow: none;
    padding: 5px 10px;
    font-size: 12px;
    border-radius: .25rem 0 0 .25rem;
}

.srch .input-group-addon i {
    color: #6c91a5;
}

.srch .input-group-sm>.form-control:not(textarea) {
    height: auto;
}

.srch .simplesearch {
    border: 1px solid #cadce8;
    border-radius: 4px
}

.btsrch {
    display: none;
}

.stickysrch {
    position: fixed;
    z-index: 1021;
    margin-top: 48px;
    margin-right: -126px;
    padding: 10px 30px;
    background: #f5f8fa;
    border: 1px solid #e5f0f7;
    box-shadow: 0px 6px 10px rgba(100, 100, 100, 0.3);
}

.stickybt {
    position: fixed;
    z-index: 1021;
    display: inline-block;
    margin-right: 40px;
    top: 12px;
    border: 0;
    border-radius: 50%;
    background: transparent;
    outline: none !important;
    /* box-shadow: 0 10px 16px -6px rgba(106, 142, 255,0.7); */
}

[data-toggle="collapse"] .fa:before {
    content: "\f00d";
    color: #6c91a5;
}

[data-toggle="collapse"].collapsed .fa:before {
    content: "\f002";
    color: #6c91a5;
}

.datehead {
    margin: 20px auto!important;
    text-align: center;
    padding: 0!important
}

.module64>li {
    display: inline-block;
    padding: 0 3px
}

.module64>li:not(:last-child):after {
    content: " | ";
    display: unset;
    padding-right: 3px;
    color: #0073ae
}


/*==============end search========================*/


/*======================================
//--//-->   NAVBAR
======================================*/

.conttop {}

.navbar-toggler {
    border-color: rgb(142, 159, 171);
    border: 0;
    outline: none !important;
    padding: .55rem .75rem;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(142, 159, 171, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-nav>li:not(:last-child):after {
    content: " . ";
    display: inline-block;
    opacity: 0.4;
    -ms-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.navbar-default {
    transition: all .5s ease-in-out;
    padding-top: 28px;
    padding-bottom: 28px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.navbar-default.navbar-reduce {
    box-shadow: 1px 2px 15px rgba(100, 100, 100, 0.3);
}

.navbar-default.navbar-trans,
.navbar-default.navbar-reduce {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-bottom: 1px solid #e5f0f7;
    border-top: 1px solid #e5f0f7;
}

.navbar-default.navbar-trans .nav-item,
.navbar-default.navbar-reduce .nav-item {
    position: relative;
    padding-right: 10px;
    /*padding-bottom: 8px;*/
    margin-left: 0;
}

.navbar-default.navbar-trans .nav-link,
.navbar-default.navbar-reduce .nav-link {
    font-family: Sahel, tahoma, arial !important;
    font-size: .9rem;
    color: #056b76;
    font-weight: bold;
    letter-spacing: 0.030em;
    transition: all 0.1s ease-in-out;
    position: relative;
    padding: .8rem 0;
    display: inline-block;
}

.navbar-default.navbar-trans .nav-link:before,
.navbar-default.navbar-reduce .nav-link:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    z-index: 0;
    background-color: #056b76;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: right;
    transform-origin: right;
    transition: opacity .2s ease-out 0.3s, -webkit-transform .2s ease-out;
    transition: transform .2s ease-out, opacity .2s ease-out 0.3s;
    transition: transform .2s ease-out, opacity .2s ease-out 0.3s, -webkit-transform .2s ease-out;
}

.navbar-default.navbar-trans .nav-link:hover,
.navbar-default.navbar-reduce .nav-link:hover {
    color: #000000;
}

.navbar-default.navbar-trans .nav-link:hover:before,
.navbar-default.navbar-reduce .nav-link:hover:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: left;
    transform-origin: left;
}

.navbar-default.navbar-trans .show>.nav-link:before,
.navbar-default.navbar-trans .active>.nav-link:before,
.navbar-default.navbar-trans .nav-link.show:before,
.navbar-default.navbar-trans .nav-link.active:before,
.navbar-default.navbar-reduce .show>.nav-link:before,
.navbar-default.navbar-reduce .active>.nav-link:before,
.navbar-default.navbar-reduce .nav-link.show:before,
.navbar-default.navbar-reduce .nav-link.active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.navbar-default.navbar-trans .nav-link:before {
    background-color: #056b76;
}

.navbar-default.navbar-trans .nav-link:hover {
    color: #000000;
}

.navbar-default.navbar-trans .show>.nav-link,
.navbar-default.navbar-trans .active>.nav-link,
.navbar-default.navbar-trans .nav-link.show,
.navbar-default.navbar-trans .nav-link.active {
    color: #000000;
}

.navbar-default.navbar-reduce {
    transition: all .5s ease-in-out;
    background: #f5f8fa;
    height: 49px;
}


/*.navbar-default.navbar-reduce .nav-link {
  color: #000000;
}*/

.navbar-default.navbar-reduce .nav-link:before {
    background-color: #056b76;
}

.navbar-default.navbar-reduce .nav-link:hover {
    color: #000000;
}

.navbar-default.navbar-reduce .show>.nav-link,
.navbar-default.navbar-reduce .active>.nav-link,
.navbar-default.navbar-reduce .nav-link.show,
.navbar-default.navbar-reduce .nav-link.active {
    color: #000000;
}

.navbar-default.navbar-reduce .navbar-brand {
    color: #000000;
}

.navbar-default .dropdown .dropdown-menu {
    border-top: 0;
    border-left: 4px solid #2eca6a;
    border-right: 0;
    border-bottom: 0;
    -webkit-transform: translate3d(0px, -40px, 0px);
    transform: translate3d(0px, -40px, 0px);
    opacity: 0;
    filter: alpha(opacity=0);
    visibility: hidden;
    transition: all 0.5s cubic-bezier(0.3, 0.65, 0.355, 1) 0s, opacity 0.31s ease 0s, height 0s linear 0.36s;
    margin: 0;
    border-radius: 0;
    padding: 12px 0;
}

.navbar-default .dropdown .dropdown-menu .dropdown-item {
    padding: 12px 18px;
    transition: all 500ms ease;
    font-weight: 600;
    min-width: 220px;
}

.navbar-default .dropdown .dropdown-menu .dropdown-item:hover {
    background-color: #ffffff;
    color: #2eca6a;
    transition: all 500ms ease;
}

.navbar-default .dropdown .dropdown-menu .dropdown-item.active {
    background-color: #ffffff;
    color: #2eca6a;
}

.navbar-default .dropdown:hover .dropdown-menu {
    -webkit-transform: translate3d(0px, 0px, 0px);
    transform: translate3d(0px, 0px, 0px);
    visibility: visible;
    opacity: 1;
    filter: alpha(opacity=1);
}


/*********************************************************************************************/

.hadithdaily {
    color: #8e9fab;
    padding: 15px 20px;
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
}

.newhome {
    padding: 15px;
}

.slidhome {
    padding: 0 15px;
}

.newhome .list-group-item,
.newhome .list-group-item {
    border: 0;
    padding: 6px 0!important;
}

.list-group-item:first-child,
.list-group-item:last-child {
    border-radius: 0;
}


/*------------------------------*/

.swiper-container {
    border-radius: 8px;
}

.swiper-slide a {
    width: 100%;
    display: block;
}

.swiper-slide img {
    width: 100%;
    height: 245px;
    border-radius: 8px;
}

.newbox {
    position: relative
}

.newbox .newlist {
    margin: 0;
}

.newbox .newlist .list-group {
    height: 229px;
    overflow: hidden;
    padding: 15px;
    display: block;
    background: #fff;
    border-radius: 8px;
    -webkit-box-shadow: 0 0 30px rgba(16, 14, 23, .25);
    box-shadow: 0 0 30px rgba(16, 14, 23, .25);
}

.newbox>*,
.slidbox>* {
    position: relative
}

.newbox::before {
    content: "";
    background: #045077;
    position: absolute;
    top: -1rem;
    left: 1rem;
    width: 100%;
    height: 100%;
    border-radius: 16px;
    padding-bottom: 1rem
}

.newtitr {
    font-family: Sahel, tahoma, arial;
    font-size: 16px;
    font-weight: 700;
    padding: .5rem 55px 1.5rem 3.4rem;
    margin-right: 1rem;
    color: #e2e2f3;
    white-space: normal;
    text-align: left;
}

.newtitr .newimg {
    position: absolute;
    left: -.1rem;
    top: -.1rem;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    border-radius: 50%;
    width: 45px;
    height: 45px;
    border: 3px solid #045077;
}


/*-------------------------------------------------------------*/


/*---------------------------------------------------------------*/

.modal-header .close {
    margin: -1rem -1rem -1rem -1rem;
}

.hadithdaily p {
    margin-bottom: 0.2rem;
}

.section1 {
    padding-top: 10px;
}

.section2 {
    /*background: #ecf7e0;
  background: linear-gradient(90deg, white 0%, #ecf7e0 100%);*/
    display: block;
    position: relative;
    padding: 0 0 20px 0;
}

.section2::before {
    content: "";
    background-image: url(../images/eslim2.png);
    background-repeat: no-repeat;
    background-position: left top;
    top: 0;
    left: 0;
    position: absolute;
    height: 360px;
    width: 100%;
    z-index: -1;
    opacity: 0.2;
}

.section2 {}

.section2 .nav-link {
    display: block;
    padding: .5rem 1rem;
    font-family: Sahel, tahoma, arial !important;
    font-size: .9rem;
    font-weight: bold;
}

.section2 .nav-pills .nav-link.active,
.section2 .nav-pills .show>.nav-link {
    color: #056b76;
    background-color: transparent;
    font-family: Sahel, tahoma, arial !important;
    font-size: .9rem;
    font-weight: bold;
}

.section2 .tab-content>.active,
.boxayyam {
    /* height: 248px; */
    /* overflow: hidden; */
    background: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.85) 0%, rgba(155, 239, 239, 0) 55%, rgba(97, 249, 249, 0) 100%);
    background: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.85) 0%, rgba(155, 239, 239, 0) 55%, rgba(97, 249, 249, 0) 100%);
    background: linear-gradient(45deg, rgba(255, 255, 255, 0.85) 0%, rgba(155, 239, 239, 0) 55%, rgba(97, 249, 249, 0) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#a6e2e2e2', endColorstr='#0061f9f9', GradientType=1);
}

.section2 .navnews {
    border-bottom: 3px solid #ccc;
    background: rgba(0, 0, 0, 0) linear-gradient(to right, #f7f7f7 15%, #e8e8e8 100%) repeat scroll 0 0;
    border-bottom: 1px solid transparent;
    border-image: linear-gradient(to right, #f7f7f7 40%, #0071ab 100%) 1 1 1 1;
    border-right: 36px solid #0071ab;
    border-top: 0 none;
    margin-bottom: 20px;
    margin-top: 10px;
    width: 100%;
}

.section2 .nav-pills .newsimg,
.section2 .nav-pills .newsimg2 {
    position: absolute;
    right: 18px;
    margin-top: 3px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.section2 .more {
    position: absolute;
    left: 15px;
    top: 10px;
    padding: 10px;
}


/*-----------------------------------footer-----------------------*/

footer {
    background: #eaedef;
}

footer .fa-window-minimize {
    margin-left: 5px;
    font-size: 8px;
    opacity: 0.5;
}

footer .list-group-item {
    border: 0;
    padding: 5px 15px;
    background-color: transparent;
    font-size: 13px;
}

.apshdiv a img {
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}

.apshdiv a img:hover {
    -webkit-filter: none;
    filter: none;
}

.apshdiv {
    background: #e4e4e4;
    display: inline-block;
    padding: 3px;
    border-radius: 5px;
}

.spsh {
    text-align: center;
    margin: 5px 0 0 10px;
}

.paddres {
    color: rgb(131, 136, 127);
    font-size: 13px;
}

.footer-copyright {
    overflow: hidden;
    color: rgb(131, 136, 127);
    background-color: rgba(0, 0, 0, 0.09);
    font-size: 13px;
}

.plogo a {
    color: #919292;
    font-size: 14px;
    font-weight: 500;
}

.plogo a:hover,
.plogo a:focus {
    color: #4e4e4e;
}

.logo-dailyhadith,
.logo-darolhadith {
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}

.logo-mizan {
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    opacity: 0.78;
}

.logo-dailyhadith:hover,
.logo-mizan:hover,
.logo-darolhadith:hover {
    -webkit-filter: none;
    filter: none;
    opacity: 1;
}

.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    opacity: 0.5;
}